MyData/redsample.txt
[{"id":"345e14f4.de6094","type":"ibmiot","name":"test"},{"id":"dbeff1a5.c12e9","type":"ibmiot in","authentication":"boundService","apiKey":"345e14f4.de6094","inputType":"evt","deviceId":"","applicationId":"","deviceType":"MQTTDevice","eventType":"eid","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","x":264,"y":245,"z":"8dcdfb18.62c61","wires":[["2d661398.7528d4","421a2ea9.a6d7e8"]]},{"id":"2d661398.7528d4","type":"debug","name":"Device Status Debug","active":true,"console":"false","complete":"false","x":477,"y":192,"z":"8dcdfb18.62c61","wires":[]},{"id":"421a2ea9.a6d7e8","type":"switch","name":"Count Switch","property":"payload.d.count","rules":[{"t":"gte","v":"4"}],"checkall":"true","outputs":1,"x":443,"y":296,"z":"8dcdfb18.62c61","wires":[["cc1d625.9aef62"]]},{"id":"cc1d625.9aef62","type":"function","name":"Reset Command","func":"var cmsg={};\ncmsg.payload = '{\"cmd\": \"reset\", \"count\":0}';\ncmsg.deviceId=msg.deviceId;\nreturn cmsg;","outputs":1,"x":661,"y":294,"z":"8dcdfb18.62c61","wires":[["78c2aad4.3b3c64"]]},{"id":"78c2aad4.3b3c64","type":"ibmiot out","authentication":"boundService","apiKey":"345e14f4.de6094","outputType":"cmd","deviceId":" ","deviceType":"MQTTDevice","eventCommandType":"cid","format":"json","data":" ","name":"IBM IoT App Out","service":"registered","x":888,"y":293,"z":"8dcdfb18.62c61","wires":[]}]